<a href="https://colab.research.google.com/github/siralexiss/git-prueba/blob/master/leer_datos_url.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**Leer datos de Una URL y trabajarlos con Pandas**

In [3]:
import pandas as pd

In [6]:
medals_url="http://winterolympicsmedals.com/medals.csv"

In [7]:
medals_data=pd.read_csv(medals_url)

In [8]:
medals_data.head()

   Year      City       Sport  ...       Event Event gender   Medal
0  1924  Chamonix     Skating  ...  individual            M  Silver
1  1924  Chamonix     Skating  ...  individual            W    Gold
2  1924  Chamonix     Skating  ...       pairs            X    Gold
3  1924  Chamonix   Bobsleigh  ...    four-man            M  Bronze
4  1924  Chamonix  Ice Hockey  ...  ice hockey            M    Gold

[5 rows x 8 columns]